body {
          font-family: "Lateef", serif;
          font-weight: 400;
          font-style: normal;
          visibility: visible;
        }

      #percentage-value {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        transition: transform 330ms ease-in-out;
        height: 30px;
        width: 30px;
        color:#33A6A6;
text-shadow: 2px 2px 4px  rgb(140,245,198,7);
        text-align: center;
        line-height: 30px;
        border-radius: 18px;
background: linear-gradient(225deg, #cacaca, #f0f0f0);
box-shadow: -18px 18px 29px #808080,
18px -18px 29px #ffffff;
border: 1px solid rgba(41, 224, 151, 0.08);
        font-size: 1.7em;
        padding: 15px;
        animation-duration: 1s;
        z-index: 3;
      }

        *{
          scroll-behavior:smooth;
        }
        #backToTopBtn.show {
          display: block;
          opacity: 1;
        }
        #bismillah {
          margin: 20px;
          width:80vw;
          height: auto;
        }
        #img {
          top: 20%;
          position: fixed;
          display: block;
          z-index: 2;
          
        }
        nav {
          z-index: 1;
          display: none;
          padding: 10px;
          position: sticky;
          top: 0;
          font-family: "Lucida Console", "Courier New", monospace;
/* From https://css.glass */
          border-radius: 18px;
background: #e0e0e0;
box-shadow: 18px 18px 36px #5a5a5a,
-18px -18px 36px #ffffff;
          backdrop-filter: blur(6.5px);
          -webkit-backdrop-filter: blur(6.5px);
          border: 1px solid rgba(41, 224, 151, 0.08);
        }
      ul {
        margin: 10px;
        padding: 10px;
        padding-bottom: 17%;
      }
      li {
          direction:rtl;
          list-style-type: none;
              color:#33A6A6;
text-shadow: 2px 2px 4px  rgb(140,245,198,7);
          font-size: 250%;
          border-bottom: 2px solid #CCC;
      }
      h1 {
        text-align: center;
        color: #4d918f;
}
section div {
      position: relative;
  font-size: small;
}

.spinner {
      position: absolute;
    top: 50%;
    left: 45%;
    width: 40px;
    height: 40px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.animate-width{
    animation-name: animate-width;
   -webkit-animation-name: animate-width;
    animation-duration: 1s; /** Tốc độ chạy **/
    animation-delay: 1s; /** Thời gian chạy **/
    animation-iteration-count: infinite; /** Lặp lại **/
    animation-direction: alternate; /** Quay lại **/
}

@keyframes animate-width {
    from { width: 30px; }
    to { width: 200px; }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}
