body {
  font-family: "Lateef", serif;
    font-weight: 200;
    font-style: normal;
        }
        
    *{
    scroll-behavior:smooth;
        }
        
  #tool ~ .viewer {
  max-height: 0;
	overflow: hidden;
  }      
        
 .viewer{
   max-height: 100px;
   background: blue;
   z-index: 1000;
 }
 
 
#container {
  color: deepskyblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    position: sticky;
    top: 10px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 3px;
  min-width: 100px;
  border-radius: 16px;
  background: #e0e0e4;
  border: 1px deepskyblue solid;
      }
      
#header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  z-index: 1;
  padding: 3px;
  border-radius: 10px;
  background: #e0e0e4;
  border: 1px deepskyblue solid;
      }
      
#header3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  z-index: 1;
  padding: 3px;
  border-radius: 10px;
background: #e0e0e4;
border: 1px deepskyblue solid;
  }

#header4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  z-index: 1;
  padding: 3px;
  border-radius: 10px;
background: #e0e0e4;
border: 1px deepskyblue solid;
      }
      
#header5 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding : 3px;
  width: 57px;
  z-index: 1;
  border-radius: 16px;
  background: #e0e0e4;
  border: 1px deepskyblue solid;
}

.tools-container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
flex-wrap: wrap;
justify-content: start;
}

#tool {
  width: 28px;
  height: 28px;
  background: deepskyblue;
  margin:1px;
  margin-top: 0;
  text-align: center;
  font-size: 20px;
}


.container-arti {
 position: relative;
 background: blue;
}

#bismillah {
    margin: 20px;
    width:80vw;
    height: 40px;
    }
#arti {
  position: absolute;
  text-align: center;
  text-align: center;
  font-size: 10px;
  top: 60px;
}
    
#img {
  top: 20%;
  position: fixed;
  display: block;
  z-index: 9999;
   }
   
#jumpToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    }
        
#jump {
  width: 30px;
  height: 30px;
   }
   
#tools-container {
  background: #000;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 20px;
  padding: 10px;
        }
      ul {
        margin: 10px;
        padding: 10px;
        padding-bottom: 17%;
      }
      
      .li-container {
        list-style-type: none;
      }
      
      .arab {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        font-family: "Lateef", serif;
          direction:rtl;
          list-style-type: none;
          font-size: 250%;
          font-weight: 300;
          align-items: center;
          border-bottom: 2px deepskyblue solid;
      }
      .latin {
        direction:ltr;
list-style-type: none;
font-size: 15px;
letter-spacing: 0.01rem;
line-height: 15px;
      }
      
      .terjemah {
        direction:ltr;
list-style-type: none;
font-size: 12px;
line-height: 10px;
margin: 0;
padding: 0;
      }
  section div {
      position: relative;
  font-size: small;
}

.spinner {
      position: absolute;
    top: 50%;
    left: 45%;
    width: 40px;
    height: 40px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


* {box-sizing: border-box;}

.dark {background-color: #292c35;} /* #9b59b6 */

body.dark p, body.dark li, body.dark span, body.dark .support a {color: #fff;}

#nama {
text-align: center;
font-size: 25px;
line-height: 20px;
  background-color: #111;
  height: 26px;
  min-width: 90px;
  padding-left: 3px;
  border-radius: 20px;
  position: relative;
  color: lightskyblue;
}



.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ball {
  font-size: 15px;
  text-align: center;
  color: deepskyblue;
}
.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

#play-music {
  position: relative;
  right: 0;
}
.hide {
  display: none;
}

.hover{
  color: slategray;
}

.no {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

#tools-container {
  width: 100%;
  height: 30px;
  background: sk;
}

.seek-bar{
  bottom: -3px;
  left: -2px;
  direction:ltr;
  display: flex;
  position: absolute;
  -webkit-appearance: none;
  overflow: hidden;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: deepskyblue;
 cursor: pointer;
}
.seek-bar::-webkit-slider-thumb{
  direction:ltr;
  -webkit-appearance: none;
  background: #000;
  height: 20px;
  width: 1px;
  box-shadow: -400px 0 0 400px black;
}

/* Add these @keyframes to your CSS file */

