body {
          font-family: "Lateef", serif;
          font-weight: 400;
          font-style: normal;
        }
        #container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
z-index: 1;
position: sticky;
top: 10px;
}
      #header {
        position: relative;
          z-index: 1;
          padding: 4px;
          border-radius: 18px;
background: #e0e0e4;
      }
      #header2 {
        position: relative;
        width: auto;
z-index: 1;
padding: 4px;
border-radius: 18px;
background: #e0e0e4;
      }
      #header3 {
        position: relative;
width: auto;
z-index: 1;
padding: 4px;
border-radius: 18px;
background: #e0e0e4;
      }

.latin { 
  display: none;
}
      
#header4 {
        position: relative;
width: auto;
z-index: 1;
padding: 4px;
border-radius: 18px;
background: #e0e0e4;
      }
      
 #header5 {
  position: relative;
  width: auto;
  z-index: 1;
  padding: 4px;
  border-radius: 18px;
  background: #e0e0e4;
}
        *{
          scroll-behavior:smooth;
        }
        
       .hide {
         display: none;
       }
        #bismillah {
          margin: 20px;
          width:80vw;
          height: 40px;
        }
        #img {
          top: 20%;
          position: fixed;
          display: block;
          z-index: 2;
        }
        #jumpToTop {
          position: fixed;
          bottom: 20px;
          right: 20px;
        }
        
        #jump {
          width: 30px;
          height: 30px;
        }
        nav {
          z-index: 1;
          display: none;
          padding: 10px;
          position: sticky;
          top: 0;
          font-family: "Lucida Console", "Courier New", monospace;
/* From https://css.glass */
          border-radius: 18px;
background: #e0e0e0;
box-shadow: 18px 18px 36px #5a5a5a,
-18px -18px 36px #ffffff;
          backdrop-filter: blur(6.5px);
          -webkit-backdrop-filter: blur(6.5px);
          border: 1px solid rgba(41, 224, 151, 0.08);
        }
      ul {
        margin: 10px;
        padding: 10px;
        padding-bottom: 17%;
      }
      .list-arab {
          direction:rtl;
          list-style-type: none;
          font-size: 250%;
          border-bottom: 2px solid #CCC;
      }
      .list-latin {
        display: none;
        direction:ltr;
list-style-type: none;
font-size: 12px;
      }
      
      .list-terjemah {
        display: none;
        direction:ltr;
list-style-type: none;
font-size: 12px;
      }
     section div {
      position: relative;
  font-size: small;
}

.spinner {
      position: absolute;
    top: 50%;
    left: 45%;
    width: 40px;
    height: 40px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


* {box-sizing: border-box;}

.dark {background-color: #292c35;} /* #9b59b6 */

body.dark li, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ball {
  font-size: 15px;
  text-align: center;
}
.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

#play {
}



/* Add these @keyframes to your CSS file */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}



 @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}
