
.lightMode {
    --bg-color: #171923;
    --bg-light: #232535;
    --font-color: #c5cddb;
    --font-light: #EBEBEB;
    --hover: #525268
}
:root {
  --bg-color: #E8E6DC;
  --bg-light: #DCDACA;
  --font-color: #3D3D3D;
  --font-light: #202020;
  --hover : #B5CBBF
}
/* end switch color theme */
#toggle {
  pointer: cursor !important;
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
  color: var(--font-light);
  background-color: var(--bg-color);
  transition: all 500ms;
  margin:0;
  padding: 0;
  font-family: "Lateef", serif;
    font-weight: 300;
    font-style: normal;
  }
        
  *{
    scroll-behavior:smooth;
  }
  #load{
    display: flex;
    flex-wrap: wrap;
  }
  #app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    direction: rtl;
  }
  
  
  #list-menu {
    display: flex;
    direction: ltr;
    justify-content: flex-start;
    position: absolute;
    left: 0;
  }
  
  #list-menu #list {
    min-width: 200px;
    height: 1.5rem;
    background: var(--font-color);
    display: none;
  }
  .show {
    display: inline-block;
  }
  
  #list-menu #humber {
  }
  
  #humber:active {
    background: red;
    border-radius: 50%;
  }
  .card {
    display: flex;
    justify-content: space-between;
    width: 95%;
    min-height: 5rem;
    border-bottom: 1px solid var(--font-color);
  }
  .scalaton {
    width: 100%;
    height: 100px;
    margin: 10px;
    background: gray;
    border-radius: 10px;
    animation: skeleton-loading 1s linear infinite alternate;
    
  }
  
 .container-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
 }
#btn-next {
  border: none;
  font-size: .6rem;
  color: var(--clr);
  opacity: 0.3;
  background: #00000000;
}
#navigation {
  margin-left: 10px;
  margin-right: 5px ;
  border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    position: sticky;
    top: 5px;
    font-size: 1.3rem;
    /* From https://css.glass */
}

#header {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 1px;
  opacity: 1;
  border-radius: 10px;
  border: 1px var(--drk) solid;
 background: var(--bgc);
  }
  
  #tools:checked ~ label, #latin-checkbox:checked ~ label, #checkbox-terjemah:checked ~ label {
    color: rgba(0,191,255, 0.7);
  }

#bismillah {
    height: 40px;
    margin: 20px;
    }
      
  .arab {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: "Lateef", serif;
    direction:rtl;
    list-style-type: none;
    font-size: 250%;
    font-weight: 300;
    align-items: center;
  }


* {box-sizing: border-box;}

#footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background: var(--hover);
  visibility: hidden;
}


#myRange {
  width: 100%;
  height: 2px;
  background: var(--bg-color);
  color: var(--font-color);
}

.footer-player {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing {
  background: var(--hover);
  border-radius: 10px;
  border: 1px solid var(--drk);
  opacity : 1;
}
/* Add these @keyframes to your CSS file */

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}