body {
          font-family: "Lateef", serif;
          font-weight: 400;
          font-style: normal;
          visibility: visible;
        }

      #percentage-value {
        display: none;
        position: fixed;
        top: 93%;
        left: 90%;
        transform: translateX(-50%);
        height: 40px;
        width: 40px;
        color: #FB3C3F;
        background-color: white;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        box-shadow: 1px 1px 8px 2px #FB3C3F, -1px -1px 8px 2px #FB3C3F; 
        font-size: 1em;
        z-index: 3;
      }

        *{
          scroll-behavior:smooth;
        }
        #backToTopBtn.show {
          display: block;
          opacity: 1;
        }

        .img {
          position: fixed;
          display: block;
          left: 15%;
          margin-left: auto;
          margin-right: auto;
          z-index: 2;
          
        }
        nav {
          z-index: 1;
          display: none;
          padding: 10px;
          position: sticky;
          top: 0;
          font-family: "Lucida Console", "Courier New", monospace;
/* From https://css.glass */
          background: rgba(41, 224, 151, 0.12);
          border-radius: 8px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(6.5px);
          -webkit-backdrop-filter: blur(6.5px);
          border: 1px solid rgba(41, 224, 151, 0.08);
        }
      #loading {
        display: flex;
        justify-content: center;    
        position: -webkit-sticky;
        text-align: justify;
      }
      ul {
        margin: 10px;
        padding: 10px;
      }
      li {
          direction:rtl;
          list-style-type: none;
          color: #009094;
          font-size: 250%;
          border-bottom: 2px solid #CCC;
      }
      h1 {
        text-align: center;
        color: #4d918f;
}
section div {
      position: relative;
  font-size: small;
}

.spinner {
      position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}
